os: linux
arch: ppc64le
dist: jammy
keys:
  - SSH_KEY_FOR_SIGNING # must match the key identifier set in the UI

env:
  global:
    secure: N1BRFPO8FEagreOFMdca8NqF+WWC3LlGIPXbQPAzuNR9O67+2jEs6LNmceCez2kvR/WXbEh9hjzRzPlHT9zgLVTg4iI9lnhmdC7Nn9v/xVni3Sh3p4LwYqAiA7A89GrcWr4jsecEV5/tRu7T7huKQm0Lqk7mPstChYTAtVdcEl8LlFi6gU7rauCKICSKCmQjWvQ7c1SHiLANryZWmBuaNY3wWsMt0ownVonRlhWrbduMh3FndhQtTrzvtm9tWgtMYgHB/89jlLfJymmSJ8JTDvWAFISSHvL2AiATHbk0jTbnsp1woOY+G8mG0+AUa6EgCv6YdVm4iMcdx2Ck2JMhxz+2E/9Z1SseLSeVnHcF+rQxVZyYa7WlJS8w65s85QcWO7ZZuixclTc38m39GgtzvIUG6ou5n8984XKvdeAi+OSV4q1v/ktkIq6vOgUtEeddlnUxtBr52C3CCiO/SwDOCwYNjBrvfSTHMOz7FoK0vaBZkdxejax0PRYYc90svlzaz9H04mQNhUEvqSukcWE4GAMnbX2M7+Htt37ljUshtEazxLkCZAChIWgJPW9CMHqs+Dbg705YRoXBKnOPsSrm7ZuvexTJHXJB5htOgzsIp6m/EEtaqZBxmWIaV1vCDmrzlZBav8p3/N96/R9f3MmAIGZdzLz2Hcd7nZcQTcvrSwE=

before_script: 
  - travis_key SSH_KEY_FOR_SIGNING cosign.key  # cosign requires the key to be in a file

script: 
  - apt-get install -y wget 
  - wget https://github.com/sigstore/cosign/releases/download/v2.2.0/cosign_2.2.0_ppc64el.deb
  - dpkg -i cosign_2.2.0_ppc64el.deb
  - cosign version
  - cosign sign-blob --key cosign.key demo.sh
